<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/htm" charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Breaking Bad</title>
	<meta name="description" content="Kinomonster is a movie website" />
	<meta name="keywords" content="movies, films, movies online, serial, series, hd" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/media-queries.css') }}">

	<!-- Slippry: A Free jQuery Responsive Slider Plugin for Modern Times -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/slippry.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css.map') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css.map') }}">

	<!-- Include the CSS -->
	<link href="dist/toolkit.min.css" rel="stylesheet">

	<script src="{{ url_for('static', filename='libs/bootstrap/js/*') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/preloader.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/modernizr.js') }}"></script> <!-- Modernizr -->
	<script src="{{ url_for('static', filename='js/slippry.js') }}"></script> <!-- slideshow -->
	<script src="{{ url_for('static', filename='js/typed.js') }}"></script> <!-- type ani -->
</head>
<body>
	<!--- - - - - - - - Start Menubar - - - - - -->
	<div class="main">
		<div class="header">
			<div class="logo">
				<div class="logo_text">
					<h1><a href="{{ url_for('home') }}">Kinomonster</a></h1>
					<h2>Movies are our passion!</h2>
				</div>
			</div>
			<div class="menubar">
				<ul class="menu">
					<li><a href="{{ url_for('home') }}">Home</a></li>	
					<li class="selected"><a href="{{ url_for('frontended.films') }}">Movies</a></li>
					<li><a href="/">Serials</a></li>
					<li><a href="{{ url_for('frontended.rating') }}">Movie ratings</a></li>
					<li><a href="{{ url_for('servered.contact') }}">Contact</a></li>
				</ul>
			</div>
			<div class="sidebar_button">
				<a href="/"></a>
			</div>
		</div>
		<!--- - - - - - - - Start sidebar - - - - - -->
		<div class="site_content">
			<div class="sidebar_container">
				<div class="sidebar">
					<h2>Search</h2>
					<form method="post" action="/server/search" id="search_form" >
						<input type="search" name="search_field" placeholder="Your query" />
						<input type="submit" class="btn" value="Search" />
					</form>
				</div>
				<div class="sidebar">
					{% if user_session and user_session.get("logged_in") %}
					<h2>User authenticated</h2>
					<form method="post" action="/server/logout">
						<input type="submit" value="Log out" />
					</form>
					{% else %}
					<h2>Sign in</h2>
					<form method="post" action="/server/signin" id="login">
						<input type="text" name="login_field" placeholder="Login" />
						<input type="password" name="password_field" placeholder="Password" />
						<input type="submit" class="btn" value="Sign in" />
						<div class="lables_passreg_text">
							<span><a href="{{ url_for('servered.forgot') }}">Forgot password?</a></span> | <span><a href="{{ url_for('servered.signup') }}">Sign up</a></span>
						</div>
					</form>
					{% endif %}
				</div>
				<div class="sidebar">
					<h2>News</h2>
					<span>31.02.2018</span>
					<p>We launched extended search.</p>
					<a href="/">Read</a>
				</div>
				<div class="sidebar">
					<h2>Movie ratings</h2>
					<ul>
						<li><a href="{{ url_for('servered.show', name='interstellar') }}">Interstellar</a><span class="rating_sidebar">8.1</span></li>
						<li><a href="{{ url_for('servered.show', name='matrix') }}">Matrix</a><span class="rating_sidebar">8.0</span></li>
						<li><a href="{{ url_for('servered.show', name='mad_max') }}">Mad Max</a><span class="rating_sidebar">7.5</span></li>
						<li><a href="{{ url_for('servered.show', name='cloud_atlas') }}">Cloud Atlas</a><span class="rating_sidebar">7.4</span></li>
					</ul>
				</div>
			</div>
			<!--- - - - - - - - Start main content - - - - - -->
			<div class="content">
				<h1>Breaking Bad</h1>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/HhesaQXLuRY" frameborder="0" allowfullscreen></iframe>
				<div class="info_film_page">
					<span class="label">Rating: </span><span class="value">7.9 / 10</span>
					<span class="label">Year: </span><span class="value">2008-2013</span>
					<span class="label">Filmmaker: </span><span class="value">Vince Gilligan</span>
				</div>
				<hr>	
				<h2>Description</h2>
				<div class="descriptions_film">
					<img src="{{ url_for('static', filename='img/breakingbad.png') }}">
					Christopher Nolan’s "Interstellar," about astronauts traveling to the other end of the galaxy to find a new home to replace humanity’s despoiled home-world, is frantically busy and earsplittingly loud.
				</div>
				<hr>
				<h2>Reviews</h2>
				{% if reviews %}
					{% for review in reviews %}
						<div class="reviews">
							<div class="review_name">
								{{ review.fname }}
							</div>
							<div class="review_text">
								{{ review.contents }}
							</div>
						</div>
					{% endfor %}
				{% else %}
				<p>Be the first one to review this movie!</p>
				{% endif %}
				<div class="send">	
					<form method="post" action="{{ url_for('servered.show', name='breaking_bad') }}" id="review">
						<input type="text" name="review_name" placeholder="Your first name">
						<textarea name="review_text"></textarea>
						<input class="btn" type="submit" value="Send">
					</form>
				</div>
			</div>
		</div>
		<!--- - - - - - - - Start footer - - - - - -->
		<div class="footer">
			<p>
				<a href="{{ url_for('home') }}">Home</a> |
				<a href="{{ url_for('frontended.films') }}">Movies</a> | 
				<a href="{{ url_for('frontended.serial') }}">Serials</a> |
				<a href="{{ url_for('frontended.rating') }}">Movie ratings</a> |
				<a href="{{ url_for('servered.contact') }}">Contact</a>
			</p>
			<p>&copy Nirvanas 2017</p>
		</div>
	</div>
	
	<!--- - - - - - - - Scroll Top Panel - - - - - -->
	<p id="back-top"><a href="#top"><span></span></a></p>

	<!--- - - - - - - - Resource jQuery - - - - - -->
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	<script src="{{ url_for('static', filename='js/scrollReveal.min.js') }}"></script>
	<!--- - - - - - - - 'defer' attribute delays script execution until the whole page is loaded - - - - - -->
	<script src="{{ url_for('static', filename='js/parallax.js') }}" defer></script> 


	<!--- - - - - - - - jQuery (necessary for Bootstrap's JavaScript plugins) - - - - - -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!--- - - - - - - - Include all compiled plugins (below), or include individual files as needed - - - - - -->
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='libs/bootstrap/js/toolkit.min.js') }}"></script>

</body>
</html>