{% extends "shows/interstellar.html" %}

{% block title %}Breaking Bad{% endblock %}
{% block h1 %}Breaking Bad{% endblock %}
{% block video %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/HhesaQXLuRY" frameborder="0" allowfullscreen></iframe>
{% endblock %}
{% block rating %}7.9{% endblock %}
{% block year %}2008-2013{% endblock %}
{% block filmmaker %}Vince Gilligan{% endblock %}
{% block image %}
<img src="{{ url_for('static', filename='img/breakingbad.png') }}">
{% endblock %}
{% block description %}
Over the course of five seasons, Breaking Bad told a complex, character-driven story of a man whose cancer diagnosis leads him to start cooking and selling meth to provide for his family. The show introduced viewers to an entire criminal underground in a fictionalized version of Albuquerque, New Mexico, with absurdly competent "fixers," a fastidious fast food franchise owner, and an international structure for dealing drugs all over the world.
{% endblock %}