{% extends "shows/interstellar.html" %}

{% block title %}Breaking Bad{% endblock %}
{% block h1 %}Breaking Bad{% endblock %}
{% block video %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/HhesaQXLuRY" frameborder="0" allowfullscreen></iframe>
{% endblock %}
{% block rating %}7.9{% endblock %}
{% block year %}2008-2013{% endblock %}
{% block filmmaker %}Vince Gilligan{% endblock %}
{% block image %}
<img src="{{ url_for('static', filename='img/breakingbad.png') }}">
{% endblock %}
{% block description %}
Christopher Nolan’s "Interstellar," about astronauts traveling to the other end of the galaxy to find a new home to replace humanity’s despoiled home-world, is frantically busy and earsplittingly loud.
{% endblock %}