{% extends "shows/interstellar.html" %}

{% block title %}Cloud Atlas{% endblock %}
{% block h1 %}Cloud Atlas{% endblock %}
{% block video %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/ByehYal_cCs" frameborder="0" allowfullscreen></iframe>
{% endblock %}
{% block rating %}7.4{% endblock %}
{% block year %}2012{% endblock %}
{% block filmmaker %}Lana Wachowski{% endblock %}
{% block image %}
<img src="{{ url_for('static', filename='img/cloud.png') }}">
{% endblock %}
{% block description %}
The central theme holding the film together is Freedom. Each of the stories in their own way work towards the idea of liberation. This may be freedom from person demons or freedom from the social structure. Its fascinating to note that the birth mark connecting the characters resembles a KEY.
{% endblock %}