{% extends "shows/interstellar.html" %}

{% block title %}Cloud Atlas{% endblock %}
{% block h1 %}Cloud Atlas{% endblock %}
{% block video %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/ByehYal_cCs" frameborder="0" allowfullscreen></iframe>
{% endblock %}
{% block rating %}7.4{% endblock %}
{% block year %}2012{% endblock %}
{% block filmmaker %}Lana Wachowski{% endblock %}
{% block image %}
<img src="{{ url_for('static', filename='img/cloud.png') }}">
{% endblock %}
{% block description %}
Christopher Nolan’s "Interstellar," about astronauts traveling to the other end of the galaxy to find a new home to replace humanity’s despoiled home-world, is frantically busy and earsplittingly loud.
{% endblock %}