{% extends "index.html" %}
{% block title %}Interstellar{% endblock %}
{% block selected %}
<li><a href="{{ url_for('servered.home') }}">Home</a></li>	
<li><a href="{{ url_for('frontended.films') }}">Movies</a></li>
<li><a href="{{ url_for('servered.posts') }}">Posts</a></li>
<li><a href="{{ url_for('frontended.rating') }}">Movie ratings</a></li>
<li><a href="{{ url_for('servered.contact') }}">Contact</a></li>
{% endblock %}
{% block contents %}
<div class="content">
	<h1>{% block h1 %}Interstellar{% endblock %}</h1>
	{% block video %}
	<iframe width="560" height="315" src="https://www.youtube.com/embed/zSWdZVtXT7E" frameborder="0" allowfullscreen></iframe>
	{% endblock %}
	<div class="info_film_page">
		<span class="label">Rating: </span><span class="value">{% block rating %}8.1{% endblock %} / 10</span>
		<span class="label">Year: </span><span class="value">{% block year %}2014{% endblock %}</span>
		<span class="label">Filmmaker: </span><span class="value">{% block filmmaker %}Christopher Nolan{% endblock %}</span>
	</div>
	<hr>	
	<h2>Description</h2>
	<div class="descriptions_film">
		{% block image %}
		<img src="{{ url_for('static', filename='img/inter.png') }}">
		{% endblock %}
		<p>
		{% block description %}
		Christopher Nolan’s "Interstellar," about astronauts traveling to the other end of the galaxy to find a new home to replace humanity’s despoiled home-world, is frantically busy and earsplittingly loud.
		{% endblock %}
		</p>
	</div>
	<hr>
	<h2>Reviews</h2>
	{% if reviews %}
		{% for review in reviews %}
			<div class="reviews">
				<div class="review_name">
					{{ review.fname }}
				</div>
				<div class="review_text">
					{{ review.contents }}
				</div>
			</div>
		{% endfor %}
	{% else %}
	<p>Be the first to review this movie!</p>
	{% endif %}
	<div class="send">
		{% block form %}
		<form method="post" action="{{ url_for('servered.show', name='interstellar') }}" id="review">
		{% endblock %}
			<input type="text" name="review_name" placeholder="Your first name">
			<textarea name="review_text"></textarea>
			<input class="btn" type="submit" value="Send">
		</form>
	</div>
</div>
{% endblock %}