{% extends "shows/interstellar.html" %}

{% block title %}Mad Max{% endblock %}
{% block h1 %}Mad Max{% endblock %}
{% block video %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/caHnaRq8Qlg" frameborder="0" allowfullscreen></iframe>
{% endblock %}
{% block rating %}7.5{% endblock %}
{% block year %}1979{% endblock %}
{% block filmmaker %}George Miller{% endblock %}
{% block image %}
<img src="{{ url_for('static', filename='img/max.png') }}">
{% endblock %}
{% block description %}
Taking place in a dystopian Australia in the near future, Mad Max tells the story of a highway patrolman cruising the squalid back roads that have become the breeding ground of criminals foraging for gasoline and scraps.
{% endblock %}