{% extends "shows/interstellar.html" %}

{% block title %}Matrix{% endblock %}
{% block h1 %}Matrix{% endblock %}
{% block video %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/vKQi3bBA1y8" frameborder="0" allowfullscreen></iframe>
{% endblock %}
{% block rating %}8.0{% endblock %}
{% block year %}1979{% endblock %}
{% block filmmaker %}The Wachowskis{% endblock %}
{% block image %}
<img src="{{ url_for('static', filename='img/matrix.png') }}">
{% endblock %}
{% block description %}
Christopher Nolan’s "Interstellar," about astronauts traveling to the other end of the galaxy to find a new home to replace humanity’s despoiled home-world, is frantically busy and earsplittingly loud.
{% endblock %}