{% extends "shows/interstellar.html" %}

{% block title %}Silicon Valley{% endblock %}
{% block h1 %}Silicon Valley{% endblock %}
{% block video %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/Vm4tx1O9GAc" frameborder="0" allowfullscreen></iframe>
{% endblock %}
{% block rating %}7.71{% endblock %}
{% block year %}2014{% endblock %}
{% block filmmaker %}Mike Judge{% endblock %}
{% block image %}
<img src="{{ url_for('static', filename='img/silicon.png') }}">
{% endblock %}
{% block description %}
Follows the struggle of Richard Hendricks, a Silicon Valley engineer trying to build his own company called Pied Piper.

In the high-tech gold rush of modern Silicon Valley, the people most qualified to succeed are the least capable of handling success. A comedy partially inspired by Mike Judge's own experiences as a Silicon Valley engineer in the late 1980s.
{% endblock %}