{% extends "shows/interstellar.html" %}

{% block title %}The X-Files{% endblock %}
{% block h1 %}The X-Files{% endblock %}
{% block video %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/KKziOmsJxzE" frameborder="0" allowfullscreen></iframe>
{% endblock %}
{% block rating %}8.1{% endblock %}
{% block year %}1993{% endblock %}
{% block filmmaker %}Chris Carter{% endblock %}
{% block image %}
<img src="{{ url_for('static', filename='img/xfiles.png') }}">
{% endblock %}
{% block description %}
The story follows agents Mulder and Scully, removed from their usual jobs on the X-Files, and investigating the bombing of a building and the destruction of criminal evidence. They uncover what appears to be a government conspiracy attempting to hide the truth about an alien colonization of Earth.
{% endblock %}