{% extends "shows/interstellar.html" %}

{% block title %}The Walking Dead{% endblock %}
{% block h1 %}The Walking Dead{% endblock %}
{% block video %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/R1v0uFms68U" frameborder="0" allowfullscreen></iframe>
{% endblock %}
{% block rating %}7.2{% endblock %}
{% block year %}2010{% endblock %}
{% block filmmaker %}Frank Darabont{% endblock %}
{% block image %}
<img src="{{ url_for('static', filename='img/dead.png') }}">
{% endblock %}
{% block description %}
<i>The Walking Dead</i> takes place after the onset of a worldwide zombie apocalypse. The zombies, colloquially referred to as "walkers", shamble towards living humans and other creatures to eat them; they are attracted to noise, such as gunshots, and to different scents, e.g. humans. Although it initially seems that only humans that are bitten or scratched by walkers can turn into other walkers, it is revealed early in the series that all living humans carry the pathogen responsible for the mutation. The mutation is activated after the death of the pathogen's host, and the only way to permanently kill a walker is to damage its brain or destroy the body, such as by cremating it.
{% endblock %}