.posts .posts_content p {
    font-size: 1.25em;
}

h2 {
    margin-top: 5px;
}

#forgot_input {
    margin-bottom: 0%;
}

#after_post {
    text-align: right;
}

#in_blue {
    color: blue;
}

.for_img_divs {
    display: inline-block;
}

.info_img_cont img {
    float: left;
    margin: 5px;
    width: 10%;
    height: 10%;
}
