.posts .posts_content p {
    font-size: 1.25em;
}

h2 {
    margin-top: 5px;
}

#forgot_input {
    margin-bottom: 0%;
}

#after_post {
    text-align: right;
}

#in_blue {
    color: blue;
}

.for_img_divs {
    display: inline-block;
}

.info_img_cont img {
    float: left;
    margin: 5px;
    width: 7%;
    height: 7%;
}

#btn_move_right {
    margin-left: 430px;
}

#input_pwd {
    width: 500px;
}

#btn_create_post {
    margin-left: 450px;
}

#create_name {
    width: 516px;
}
