{% extends "index.html" %}
{% block title %}Movies{% endblock %}
{% block selected %}
<li><a href="{{ url_for('servered.home') }}">Home</a></li>	
<li class="selected"><a href="{{ url_for('frontended.films') }}">Movies</a></li>
<li><a href="{{ url_for('servered.posts') }}">Posts</a></li>
<li><a href="{{ url_for('frontended.rating') }}">Movie ratings</a></li>
<li><a href="{{ url_for('servered.contact') }}">Contact</a></li>
{% endblock %}
{% block contents %}
<div class="content">
	<div class="info_film">
		<img src="{{ url_for('static', filename='img/inter.png') }}">
		<p>
		Christopher Nolan’s "Interstellar," about astronauts traveling to the other end of the galaxy to find a new home to replace humanity’s despoiled home-world, is frantically busy and earsplittingly loud.
		</p>
		<div class="button"><a href="{{ url_for('servered.show', name='interstellar') }}">Watch</a></div>
	</div>
	<div class="info_film">
		<img src="{{ url_for('static', filename='img/max.png') }}">
		<p>
		Taking place in a dystopian Australia in the near future, Mad Max tells the story of a highway patrolman cruising the squalid back roads that have become the breeding ground of criminals foraging for gasoline and scraps.
		</p>
		<div class="button"><a href="{{ url_for('servered.show', name='mad_max') }}">Watch</a></div>
	</div>
	<div class="info_film">
		<img src="{{ url_for('static', filename='img/matrix.png') }}">
		<p>
		Neo (Keanu Reeves) believes that Morpheus (Laurence Fishburne), an elusive figure considered to be the most dangerous man alive, can answer his question -- What is the Matrix? Neo is contacted by Trinity (Carrie-Anne Moss), a beautiful stranger who leads him into an underworld where he meets Morpheus. They fight a brutal battle for their lives against a cadre of viciously intelligent secret agents. It is a truth that could cost Neo something more precious than his life.
		</p>
		<div class="button"><a href="{{ url_for('servered.show', name='matrix') }}">Watch</a></div>
	</div>
	<div class="info_film">
		<img src="{{ url_for('static', filename='img/cloud.png') }}">
		<p>
		The central theme holding the film together is Freedom. Each of the stories in their own way work towards the idea of liberation. This may be freedom from person demons or freedom from the social structure. Its fascinating to note that the birth mark connecting the characters resembles a KEY.
		</p>
		<div class="button"><a href="{{ url_for('servered.show', name='cloud_atlas') }}">Watch</a></div>
	</div>
</div>
{% endblock %}