{% extends "index.html" %}
{% block title %}Restore password{% endblock %}
{% block selected %}
<li><a href="{{ url_for('servered.home') }}">Home</a></li>	
<li><a href="{{ url_for('frontended.films') }}">Movies</a></li>
<li><a href="{{ url_for('servered.posts') }}">Posts</a></li>
<li><a href="{{ url_for('frontended.rating') }}">Movie ratings</a></li>
<li><a href="{{ url_for('servered.contact') }}">Contact</a></li>
{% endblock %}
{% block contents %}
<div class="content">
	<h1>Restore password</h1>
	<p>A new password will be sent on your email.</p>
	{% with messages = get_flashed_messages(category_filter=["forgot"]) %}
	{% if messages %}
		{% for message in messages %}
			<p><b>{{ message }}</b></p>
		{% endfor %}
	{% endif %}
	{% endwith %}
	<div class="send send_contact">	
		<form method="post" action="#" id="contact">
			<input type="text" name="forgot_email" id="forgot_input" placeholder="Your email">
			<p></p>
			<input class="btn" type="submit" value="Send" style="margin-left: 430px">
		</form>
	</div>
</div>
{% endblock %}