{% extends "index.html" %}
{% block title %}Website posts{% endblock %}
{% block selected %}
<li><a href="{{ url_for('servered.home') }}">Home</a></li>	
<li><a href="{{ url_for('frontended.films') }}">Movies</a></li>
<li class="selected"><a href="{{ url_for('servered.posts') }}">Posts</a></li>
<li><a href="{{ url_for('frontended.rating') }}">Movie ratings</a></li>
<li><a href="{{ url_for('servered.contact') }}">Contact</a></li>
<li><a href="{{ url_for('frontended.about') }}">About</a></li>
{% endblock %}
{% block contents %}
<div class="content">
    <div class="posts">
        {% for i, post in posts %}
            <h2>
                <a href="{{ url_for('servered.post', post_id=i) }}">{{ post.title }}</a>
            </h2>
            {% if post.picture %}
            <img width="100%" src="{{ url_for('static', filename='img/db_img/' + post.picture) }}">
            <p></p>
            {% endif %}
            <div class="posts_content">
                <p>
                    {{ post.description }}
                </p>
            </div>
            <p>
                <strong>
                    <a href="{{ url_for('servered.post', post_id=i) }}">Read</a>
                </strong>
            </p>
            <hr>
        {% endfor %}
    </div>
    <p id="after_post">You may want to <a id="in_blue" href="{{ url_for('servered.create_post') }}">write</a> your own post!</p>
</div>
{% endblock %}