{% extends "index.html" %}
{% block title %}Movie ratings{% endblock %}
{% block selected %}
<li><a href="{{ url_for('servered.home') }}">Home</a></li>	
<li><a href="{{ url_for('frontended.films') }}">Movies</a></li>
<li><a href="{{ url_for('servered.posts') }}">Posts</a></li>
<li class="selected"><a href="{{ url_for('frontended.rating') }}">Movie ratings</a></li>
<li><a href="{{ url_for('servered.contact') }}">Contact</a></li>
<li><a href="{{ url_for('frontended.about') }}">About</a></li>
{% endblock %}
{% block contents %}
<div class="content">
	<table>
		<tr>
			<th></th>
			<th>Movie</th>
			<th class="center">Year</th>
			<th class="center">Rating</th>
		</tr>
		<tr>
			<td class="center"><img src="{{ url_for('static', filename='img/inter.png') }}"></td>
			<td>1. <a href="{{ url_for('servered.show', name='interstellar') }}">Interstellar</a></td>
			<td class="center">2014</td>
			<td class="center rating">8.1</td>
		</tr>
		<tr>
			<td class="center"><img src="{{ url_for('static', filename='img/matrix.png') }}"></td>
			<td>2. <a href="{{ url_for('servered.show', name='matrix') }}">Matrix</a> </td>
			<td class="center">1999</td>
			<td class="rating center">8.0</td>
		</tr>
		<tr>
			<td class="center"><img src="{{ url_for('static', filename='img/max.png') }}"></td>
			<td>3. <a href="{{ url_for('servered.show', name='mad_max') }}">Mad Max</a></td>
			<td class="center">2015</td>
			<td class="rating center">7.5</td>
		</tr>
		<tr>
			<td class="center"><img src="{{ url_for('static', filename='img/cloud.png') }}"></td>
			<td>4. <a href="{{ url_for('servered.show', name='cloud_atlas') }}">Cloud Atlas</a></td>
			<td class="center">2013</td>
			<td class="rating center">7.4</td>
		</tr>
	</table>
</div>
{% endblock %}