{% extends "index.html" %}
{% block title %}Serials{% endblock %}
{% block selected %}
<li><a href="{{ url_for('home') }}">Home</a></li>	
<li><a href="{{ url_for('frontended.films') }}">Movies</a></li>
<li class="selected"><a href="{{ url_for('frontended.serial') }}">Serials</a></li>
<li><a href="{{ url_for('frontended.rating') }}">Movie ratings</a></li>
<li><a href="{{ url_for('servered.contact') }}">Contact</a></li>
{% endblock %}
{% block contents %}
<!--- - - - - - - - Start main content - - - - - -->
<div class="w3-container">
	<div class="w3-light-gray">
		<div id="myBar" class="w3-center w3-padding w3-theme" style="width:5%">5%</div>
	</div><br>
	<button class="w3-btn w3-theme" onclick="move()">Click Me</button> 
</div>
<!--- - - - - - - - Start main content - - - - - -->
<div class="content">
	<div class="info_film">
		<img src="{{ url_for('static', filename='img/inter.png') }}">
		Christopher Nolan’s "Interstellar," about astronauts traveling to the other end of the galaxy to find a new home to replace humanity’s despoiled home-world, is frantically busy and earsplittingly loud.
		<div class="button"><a href="{{ url_for('servered.show', name='interstellar') }}">Watch</a></div>
	</div>
	<div class="info_film">
		<img src="{{ url_for('static', filename='img/max.png') }}">
		Christopher Nolan’s "Interstellar," about astronauts traveling to the other end of the galaxy to find a new home to replace humanity’s despoiled home-world, is frantically busy and earsplittingly loud.
		<div class="button"><a href="/">Watch</a></div>
	</div>
	<div class="info_film">
		<img src="{{ url_for('static', filename='img/matrix.png') }}">
		Christopher Nolan’s "Interstellar," about astronauts traveling to the other end of the galaxy to find a new home to replace humanity’s despoiled home-world, is frantically busy and earsplittingly loud.
		<div class="button"><a href="/">Watch</a></div>
	</div>
	<div class="info_film">
		<img src="{{ url_for('static', filename='img/cloud.png') }}">
		Christopher Nolan’s "Interstellar," about astronauts traveling to the other end of the galaxy to find a new home to replace humanity’s despoiled home-world, is frantically busy and earsplittingly loud.
		<div class="button"><a href="/">Watch</a></div>
	</div>
</div>
{% endblock %}