{% extends "index.html" %}
{% block title %}Sign up{% endblock %}
{% block selected %}
<li><a href="{{ url_for('home') }}">Home</a></li>	
<li><a href="{{ url_for('frontended.films') }}">Movies</a></li>
<li><a href="{{ url_for('frontended.serial') }}">Serials</a></li>
<li><a href="{{ url_for('frontended.rating') }}">Movie ratings</a></li>
<li><a href="{{ url_for('servered.contact') }}">Contact</a></li>
{% endblock %}
{% block contents %}
<div class="content">
	<h1>Sign up</h1>
	<p>Your email will be used only for restoring the password.</p>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			{% if message.startswith("Email with your credentials is sent to") %}
				<p><b>{{ message }}</b></p>
			{% else %}
				<p><b>{{ message }}</b></p>
			{% endif %}
		{% endfor %}
	{% endif %}
	{% endwith %}
	<div class="send send_contact">	
		<form method="post" action="/signup" id="contact">
			<input type="text" name="new_login" placeholder="Your new login">
			<input type="text" name="new_email" placeholder="Your email">
			<input type="password" name="new_password" placeholder="Your password" style="width: 500px">
			<p></p>
			<input class="btn" type="submit" value="Send" style="margin-left: 430px">
		</form>
	</div>
</div>
{% endblock %}